:root {
    --RBlack : #212738;
    --RBlack2 : #171B27;
    --Bittersweet : #f97068;
    --Pear : #d1d646;
    --AFWhite : #edf2ef;
    --VividSBlue : #57c4e5;
    --Aero : #1E9CC2;
}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100svw;
    height: 100svw;
    scroll-behavior: smooth;
}

body {
    width: 100svw;
    height: 100svw;
    background-color: var(--RBlack);
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: 0.5s ease;
    background: rgba(87, 196, 229, 0.5);
}

.cover {
    position: fixed;
    top: 0;
    z-index: 5000;
    width: 100svw;
    height: 100svh;
}

.backdrop-bg {
    opacity: 0;
    height: 100svh;
    width: 100svw;
    position: absolute;
    z-index: 7;
    backdrop-filter: blur(0); /* Initial backdrop-filter value */
    transition: backdrop-filter 0.5s ease, opacity 0.5s ease; /* Transition both backdrop-filter and opacity */
}

.pulsing-logo {
    position: absolute;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.pulsing-logo img {
    display: block;
    z-index: 100;
    position: absolute;
    perspective: 1000px; /* Adjust this value to change the depth of perspective */
    transition: transform 0.3s ease; /* Add smooth transition */
    height: 150px;
    border: 2px solid transparent;
    border-radius:20px;
    padding: 10px;
    animation: background-pulse 2s infinite alternate; /* Use animation */
}

.pulsing-logo img:hover {
    transition: 0.3s ease; /* Add smooth transition */
    transform-origin: center center;
    scale: 1.1;
    background-color: #212738;
    box-shadow: 0 0 10px #57c4e5;
    border-radius: 20px;
    cursor: pointer;
    animation: none;
}

@keyframes background-pulse {
    0% {
        background-color: transparent; /* Start color */
    }
    
    75% {
        background-color: transparent;
    }
    100% {
        background-color: hsla(144, 16%, 94%, 0.2); /* End color */
    }
}

#particle-js canvas { 
    display: fixed;
    z-index: 10;
    vertical-align: bottom; 
} 

#bg-particles-js canvas { 
    position: fixed;
    z-index: 5;
    vertical-align: bottom; 
} 

#particles-js,
#bg-particles-js { 
    position:fixed; 
    top: 0;
    height: 100svh;
    width: 100svw;
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
} 
    
#particles-js {
    background-color: var(--RBlack2);
}

#bg-particles-js {
    background-color: var(--RBlack); 
}

.count-particles { 
    background: #000022; 
    position: absolute; 
    top: 48px; 
    left: 0; 
    width: 80px; 
    color: #13E8E9; 
    font-size: .8em; 
    text-align: left; 
    text-indent: 4px; 
    line-height: 14px; 
    padding-bottom: 2px; 
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: bold; 
} 
    
.js-count-particles { 
    font-size: 1.1em; 
} 

#stats, .count-particles { 
    -webkit-user-select: none;
     margin-top: 5px; 
     margin-left: 5px; 
} 

#stats { 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 

} 

.count-particles { 
    border-radius: 0 0 3px 3px; 
}

header {
    /* background-color: #0000004f; */
    position: fixed;
    top: 0;
    z-index: 1100;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    
    & img {
        transform-origin: center center;
        height: 10vh;
        margin-left: 2rem;
    }

    & .logo {
        transform-origin: center center;
        text-decoration: none;
        font-size: 4rem;
        font-family: "Micro 5", sans-serif;
        color: var(--VividSBlue);
        margin-left: 2rem;
    }
}

nav {
    font-family: "Micro 5", sans-serif;
    font-size: 2rem;
    transform-origin: center center;
    display: flex;
    gap: 50px;
    margin-right: 5vw;

    & span {
        color: var(--VividSBlue);
    }

    & a {
        text-decoration: none;
        color: var(--AFWhite);

        &:hover, &:focus, &:active {
            text-decoration: underline;
            text-decoration-color: var(--VividSBlue);
        }
    }
}

.main-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .text {
        width: 60%;
    }

    & #hello {
        font-family: "Micro 5", sans-serif;
        font-size: 2rem;
        color: var(--AFWhite);
    }

    & h1 {
        font-family: "Kanit", sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 5rem;
        color: var(--VividSBlue);
    }

    & #description {
        width: 65%;
        font-family: "Quicksand", sans-serif;
        color: var(--AFWhite);
    }

    & a {
        position: relative;
        background: none;
        border: solid medium var(--VividSBlue);
        border-radius: 10px;
        transform-origin: center center;
        text-decoration: none;
        width: 250px;
        height: 70px;
        padding: 10px;
        top: 30px;
        color: var(--VividSBlue);
        font-family: "Quicksand", sans-serif;
        font-weight: 800;
        font-size: 1.25rem;

        &:hover, &:focus, &:active {
            transition: 0.25s ease-in-out;
            background-color: var(--VividSBlue);
            text-decoration: underline;
            color: var(--AFWhite);
            scale: 1.05;
            box-shadow: 0 0 10px var(--VividSBlue);
        }
    }
}

.about,
.skills,
.projects {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-page,
.about,
.skills,
.contact {
    position: relative;
    z-index: 1000;
}

.projects {
    position: relative;
    z-index: 900;
}

.contact {
    height: 15vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    & span {
        color: var(--VividSBlue);
        font-family: "Micro 5", sans-serif;
        font-size: 2.75rem;
    }

    & h1 {
        width: 60%;
        color: var(--AFWhite);
        font-family: "Kanit", sans-serif;
    }
}

.about-text {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 60%;
    
    & img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 350px;
        border-radius: 10px;
    }

    & p {
        font-family: "Quicksand", sans-serif;
        color: var(--AFWhite);
        font-size: 1rem;
    }
}

.skills {
    & span {
        color: var(--VividSBlue);
        font-family: "Micro 5", sans-serif;
        font-size: 2.75rem;
    }

    & .skills-title {
        width: 60%;
        color: var(--AFWhite);
        font-family: "Kanit", sans-serif;
    }
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.skills-text {
    display: flex;
    flex-direction: column;
    margin-top: 1%;

    & p {
        margin-bottom: 10px;
        font-family: "Quicksand", sans-serif;
        color: var(--AFWhite);
        font-size: 1rem
    }
}

.languages {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    /* padding-top: 10px; */
    gap: 20px;

    & h1 {
        z-index: 100;
        color: var(--AFWhite);
        font-family: "Kanit", sans-serif;
        /* position: relative; */
        top: -13.5px;
    }
}

@media (min-width: 768px) {
    #python-bar,
    #html-bar,
    #css-bar,
    #js-bar,
    #csharp-bar {
        display: none;
    }

    .python,
    .html,
    .css,
    .js,
    .csharp {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--Aero); 
            height: 100%;
            width: 0;
            z-index: 0;
            transition: width 0.5s ease-in-out; 
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        
        }
    }


    .python:hover::after, .python:focus::after, .python:active::after {
        width: 80%;
    }
    .html:hover::after, .html:focus::after, .html:active::after {
        width: 85%
    }
    .css:hover::after, .css:focus::after, .css:active::after {
        width: 60%
    }
    .js:hover::after, .js:focus::after, .js:active::after {
        width: 20%;
    }
    .csharp:hover::after, .csharp:focus::after, .csharp:active::after {
        width: 10%;
    }

    .python:hover, .python:focus, .python:active,
    .html:hover, .html:focus, .html:active,
    .css:hover, .css:focus, .css:active,
    .js:hover, .js:focus, .js:active,
    .csharp:hover, .csharp:focus, .csharp:active {
        transition: 0.5s ease-in-out;
        background-color: var(--VividSBlue);

        & span {
            display: flex;
            align-items: center;
        }
    }     
}

.python,
.html,
.css,
.js,
.csharp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid var(--VividSBlue);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden; 

    & span {
        color: var(--AFWhite);
        display: none;
        z-index: 100;
    }
}

.projects {
    & span {
        color: var(--VividSBlue);
        font-family: "Micro 5", sans-serif;
        font-size: 2.75rem;
    }

    & h1 {
        width: 60%;
        color: var(--AFWhite);
        font-family: "Kanit", sans-serif;
    }
}

.projects {
    & span {
        color: var(--VividSBlue);
        font-family: "Micro 5", sans-serif;
        font-size: 2.75rem;
    }

    & h1 {
        width: 60%;
        color: var(--AFWhite);
        font-family: "Kanit", sans-serif;
    }
}

.projects-container {
    margin-top: 10px ;
    background-color: hsla(225, 26%, 12%, 0.5);
    border-radius: 20px;
    width: 60%;
    height: 55%;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    /* flex: 1 1 calc(50% - 50px); */
    /* background-color: rgba(255, 255, 255, 0.1); */
    height: 250px;
    width: 43%;
    max-height: 250px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    
    & h2 {
        font-size: 1rem;
        color: var(--AFWhite);
        font-family: "Kanit", sans-serif;
    }

    & p {
        color: var(--AFWhite);
        font-family: "Quicksand", sans-serif;
        text-align: left;
    }

    &:hover, &:focus, &:active {
        transition: 0.5s ease;
        box-shadow: 0 0 10px var(--VividSBlue);
        scale: 0.95;
    }
}

.project-image {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.project-text {
    background-color: rgba(0, 0, 0, 0.25);
    height: 250px;
    padding: 10px;
    opacity: 0;
    top: 0;
    /* padding-top: 50%;
    padding-bottom: 15%; */

    /* & h2 {
        position: relative;
        left: -10px;
    } */

    & h2 a {
        text-decoration: none;
        text-underline-offset: 3px;
        color: white;

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--VividSBlue);
        }
    }

    & a {
        color: var(--VividSBlue);
        text-decoration: underline;
    }

    & p {
        position: relative;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
        max-height: 180px;
        overflow-y: scroll;
        margin-bottom: 10px;
    }

    /* &:hover, &:focus, &:active {
        position: absolute;
        z-index: 10000;
        transition: 0.5s ease-in-out;
        opacity: 1;
        backdrop-filter: blur(2px);
    } */

    /* &:hover ~ .project img {
        filter: blur(1px);
        -webkit-filter: blur(10px);
    } */
}

#rotating-cube:hover .project-text,
#atmosify:hover .project-text,
#portfolio:hover .project-text {
    position: absolute;
    z-index: 10000;
    transition: 0.5s ease-in-out;
    opacity: 1;
    backdrop-filter: blur(2px); 
}


.contact {
    & span {
        color: var(--VividSBlue);
        font-family: "Micro 5", sans-serif;
        font-size: 2.75rem;
    }

    & h1 {
        width: 60%;
        color: var(--AFWhite);
        font-family: "Kanit", sans-serif;
    }

}

.contact-areas {
    width: 60%;
    height: 80%;
    background-color: hsla(225, 26%, 12%, 0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    & .get-ahold {
        position: relative;
        top: 0;
        font-family: "Micro 5", sans-serif;
        font-size: 4rem;
        text-align: center;
    }

    & .contact-links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    & h1 {
        width: 100%;
        font-family: "Quicksand", sans-serif;
        font-size: 2.5rem;
        text-align: center;
    }

    & i {
        text-decoration: none;
        color: var(--AFWhite);
        font-size: 2rem;

        &:hover, &:focus, &:active {
            transition: 0.5s ease;
            color: var(--VividSBlue);
        }
    }

    & .mail a, 
    .social-icons {
        margin: 20px;
    }
}

@media (orientation: portrait) and (max-width: 768px),
 (orientation: landscape) and (max-height: 414px) {
    header {
        position: fixed;
        
        & .logo {
            margin-left: 1rem;
            font-size: 2rem;
        }

        & nav {
            margin-right: 1rem;
            font-size: 1rem;
            gap: 20px;
            & span {
                display: none;
            }
        }
    }

    .main-page {
        & #hello {
            font-size: 1.5rem;
        }

        & h1 {
            font-size: 2rem;
        }

        & #description {
            width: 100%;
        }
    }

    .about {
        & .about-text {
            gap: 0;
            flex-direction: column;
        }

        & img {
            display: none;
        }
    }

    .skills {
        margin: 0;
        & .text-disable {
            display: none
        }

        & .languages {
            gap: 10px;
        }

        & .python,
        & .html,
        & .css,
        & .js,
        & .csharp {
            background-color: var(--VividSBlue);
            pointer-events: none;
            padding: 0;
            flex-direction: row;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            z-index: 0;
            transition: width 0.5s ease-in-out; 

            & h1 {
                margin-left: 10px;
                top: 0;
                font-size: 1.2rem; 
            }

            & span {
                margin-right: 10px;
                font-size: 1.5rem; 
                display: block;
            }
        }

        #python-bar,
        #html-bar,
        #css-bar,
        #js-bar,
        #csharp-bar {
            height: 100%;
            position: absolute;
            display: block;
            background-color: var(--Aero);
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        #python-bar {
            width: 80%;
        }

        #html-bar {
            width: 85%;
        }

        #css-bar {
            width: 60%;
        }

        #js-bar {
            width: 20%;
        }

        #csharp-bar {
            width: 10%;
        }
    }

    .projects {
        & .projects-container {
            display: block;
        }

        & .project {
            height: 95%;
            width: 100%;
            box-shadow: 0 0 10px var(--VividSBlue);
        }

        & .project-text {
            position: relative;
            top: -100%;
            background-color: rgba(0, 0, 0, 0.25);
            -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
            transition: none;
            opacity: 1;
        }

        & #atmosify,
        #rotating-cube {
            margin-top: 20px;
        }

    }

    .contact {
        height: 25vh;

        & .contact-areas {
            padding: 20px;
        }
        & .get-ahold {
            font-size: 2rem;
        }
        & i {
            font-size: 2rem;
        }
    }
}