:root {
    /* 52489c-4062bb-59c3c3-ebebeb-f45b69 */

    --bg-color1 : #2b2b2b;
    --bg-color2 : #181818;

    --color1 : #3A3370;
    --color1b : #52489c;
    --color2 : #2F4889;
    --color2b : #4062bb;
    --color3 : #369696;
    --color3b : #59C3C3;
    --color4 : #f45b69;
    --color4b : #e04c58;

    --text-color : #EBEBEB;

}

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: #262626;
}

::-webkit-scrollbar-thumb {
    background-color: #353535;
}


.homeface {
    height: 110svh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.fade-in-text {
    position: fixed;
    transition: 1s ease;
    z-index: 100;
    text-align: center;
    color: var(--text-color);
    font-family: 'Comfortaa';
    left: 50%;
    transform: translateX(-50%);
}

.computer-text {
    margin-top: 100px;
    display: block;
}

.mobile-text {
    margin-top: 50px;
    display: none;
}

@media (min-width: 768px) {
    #aboutMeSection {
        
    }
}

@media (max-width: 768px) {
    .computer-text {
        display: none;
    }

    .mobile-text {
        display: block;
    }

    #aboutMeSection {
        flex-direction: column;
    }

    #aboutMeSection img {
        display: none;
    }

    .sideA {
        min-width: 100%;
        height: 33%;
    }
    .sideA h1 {
        margin-top: 0;
        font-size: 0.25rem;
    }

    .sideB {
        width: 100%;
        height: 66%;
    }

}

#progress-bar {
    position: fixed;
    z-index: 101;
    --progress: 0;
    height: 6px;
    width: var(--progress);
    background-color: #fff;
    box-shadow: 0 0 5px #fff;
    border-radius: 10px;
}

.container {
    background: linear-gradient(105deg, var(--bg-color1), var(--bg-color2));
    height: 100%;
    width: 100%;
}

.center {
    position: absolute;
    perspective: 1000px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square {
    transform-style: preserve-3d;
    transform-origin: center center; 
    background-color: aqua;
    width: 10px;
    height: 10px;
}

.side1,
.side2,
.side3,
.side4 {
    position: absolute;
    transform-origin: center center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 200px;

    /* Text */
    color: var(--text-color);
    font-family: 'Dosis';
    text-align: center;
}

/* Front */
.side1 {
    background-color: var(--color1);
    transform: translateZ(100px) translateY(-100px) translateX(-100px);
}

/* Back */
.side2 {
    background-color: var(--color3);
    transform: rotateY(90deg) translateY(-100px);
}

/* Left */
.side3 {
    background-color: var(--color4);
    transform: rotateY(180deg) translateZ(100px) translateY(-100px) translateX(100px);
}

/* Right */
.side4 {
    background-color: var(--color2);
    transform: rotateY(270deg) translateZ(200px) translateY(-100px);
}

/* Interactivity */

.side1:hover {
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 20px var(--color1);
    h1 {
        opacity: 0.8;
        text-decoration: underline wavy 2px;
        text-decoration-color: var(--color1);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
}
.side2:hover {
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 20px var(--color3);
    h1 {
        opacity: 0.8;
        text-decoration: underline wavy 2px;
        text-decoration-color: var(--color3);
        transition: opacity 0.3s ease, transform 0.3s ease;;
    }
}

.side3:hover {
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 20px var(--color4);
    h1 {
        opacity: 0.8;
        text-decoration: underline wavy 2px;
        text-decoration-color: var(--color4);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
}
.side4:hover {
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 20px var(--color2);
    h1 {
        opacity: 0.8;
        text-decoration: underline wavy 2px;
        text-decoration-color: var(--color2);
        transition: opacity 0.3s ease, transform 0.3s ease;
    
    }
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* About me */
.text-box1,
.text-box2,
.text-box3,
.text-box4 {
    width: 190px;
    height: 190px;
    background-color: var(--bg-color2);
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
}

.text-box1 h1,
.text-box2 h1,
.text-box3 h1,
.text-box4 h1 {
    position: relative;
    height: 100%;
    width: 100%;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
}

.pages {
    color: var(--text-color);
    font-family: 'Comfortaa';
}

#aboutMeSection,
#skillsSection,
#projectsSection {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#contactSection {
    width: 100vw;
    height: 10vh;
    display: flex;
}

#aboutMeSection {
    background-color: var(--color1);
}

#skillsSection {
    background-color: var(--color3);
}

#projectsSection {
    background-color: var(--color4);
}

#contactSection {
    background-color: var(--color2);
}

.sideA {
    width: 33%;
    background-color: var(--color1b);
}

.sideB {
    width: 66%;
}

.sideA h1 {
    position: relative;
    text-align: center;
    margin-top: 20%;
    font-size: 5rem;
}

.sideA img{
    position: relative;
    width: 400px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.sideB-text {
    position: relative;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

.sideB h1 {
    font-size: 3.5rem;
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.sideB p {
    font-size: 1.5rem;
}

#skillsSection {
    display: flex;
    flex-direction: column;
}

.sideC {
    height: 33%;
    background-color: var(--color3b);
}

.sideD {
    height: 66%;
    width: 100%;

    display: flex;
}

.sideC h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 5rem;
}

.progress-container {
    position: relative;
    width: 66%;
    height: 100%;
}

.more-lang-info {
    width: 33%;
    padding: 50px;
}

.more-lang-info p {
    position: relative;
    font-size: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.progress-box {
    height: 80%;
    width: 90%;
    background-color: #D2EFEF;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    color: #181818;
}

.progress-box h1 {
    position: relative;
    width: 25%;
    margin: 20px;
}

.progress-bars {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.python-container,
.html-container,
.css-container,
.js-container,
.csharp-container {
    display: flex;
    background-color: #95DADA;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    align-items: center;
}

.python-container:hover,
.html-container:hover,
.css-container:hover,
.js-container:hover,
.csharp-container:hover {
    transition: 0.5s ease;
    background-color: #77CFCF;
    transform-origin: center center;
    scale: 1.01;
    box-shadow: 0 0 10px #77CFCF;
}

.progbar-back-py,
.progbar-back-html,
.progbar-back-css,
.progbar-back-js,
.progbar-back-csharp {
    position: relative;
    transform-origin: center center;
    width: 100%;
    height: 20px;
    margin-right: 20px;
    background-color: #61abab;
    border-radius: 10px;
}

#progbar-py,
#progbar-html,
#progbar-css,
#progbar-js,
#progbar-csharp {
    position: relative;
    height: 20px;
    background-color: #2A7979;
    border-radius: 10px;
}

#progbar-py {
    width: 75%;
}

#progbar-html {
    width: 80%;
}

#progbar-css {
    width: 60%;
}

#progbar-js {
    width: 30%;
}

#progbar-csharp {
    width: 10%;
}

.sideE {
    width: 33%;
}

.sideF {
    width: 66%;
    background-color: var(--color4b);
}

.sideE h1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 5rem;
}

.projects-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    padding: 20px;
    border-radius: 20px;
    background-color: #da6872;
    display: flex;
    gap: 10px;
}

.project1 {
    width: 30%;
    height: 50%;
    background-color: #d67b84;
    border-radius: 10px;
    padding: 10px;
}

.project1 h1 {
    text-align: center;
    padding-top: 10px;
}

.project1 p {
    overflow-y: scroll;
    max-height: 40%;
}

.project1 p::-webkit-scrollbar {
    display: none;
}

.project1 img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:90%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cc-info {
    width: 70%;
}

.cc-info h1 {
    font-size: 1.25rem;
    position: relative;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
}

.contact-area {
    text-align: center;
    align-items: center;
    width: 30%;
    display: flex;
}

.contact-area a {
    position: relative;
    display: flex;
    margin-left: 10%;
}

.contact-area a:hover {
    h2 {
        text-decoration: underline;
    }
}

.contact-area h2 {
    margin-left: 10px;
}

/* .project2 {
    width: 30%;
    height: 50%;
    background-color: #2F4889;
    border-radius: 10px;
    padding: 10px;
}

.project2 h1 {
    text-align: center;
    padding-top: 10px;
}

.project2 p {
    overflow-y: scroll;
    max-height: 40%;
}

.project2 img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:90%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
} */
